#contact {
    max-width: 600px;
    margin: 50px auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;

    p{
        font-size: 21px;
    }
}

h2 {
    color: $mColor;
    text-align: center; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 

}

label {
    font-size: 18px; 
    margin-top: 5px;
    color: $tColor;
    font-weight: 700;
}

input, textarea {
    padding: 10px;
    border: 1px solid $mColor;
    border-radius: 5px;
    background: transparent;
    color: $tColor;
    font-family: $mFont;
}

button {
    padding: 10px;
    background-color: $mColor;
    color: $bgColor;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: $sColor; 
    color: $tColor;
}
#fname{
    font-size: 15px;
}

input:focus, textarea:focus {
    border-color: lighten($mColor, 10%);
    box-shadow: 0 0 5px rgba(20, 216, 160, 0.5);
    outline: none;
}
