#site_header {
    position: fixed;
    width: 100%;
    background-color: rgba(13, 18, 36, 0.60);
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.site_logo {
    position: absolute;
    left: 20px;
    top: 10px;
    display: inline-block;
    text-decoration: none;
}

.logo_text{
    font-size: 30px;
    font-weight: 600;
    color: $tColor;
}

.dot_icon {
    font-size: 10px;
    margin-left: 5px;
    color: $mColor;
}

.right_section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu_toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: $tColor;
    margin-left: 20px;
}

.main_navigation {
    display: flex;
    justify-content: flex-end;
}

.nav_links {
    display: flex;
    gap: 20px;
}

.nav_links li {
    list-style: none;
}

.nav_links a {
    text-decoration: none;
    color: $tColor;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.hello_message {
    padding: 5px 10px;
    background-color: $mColor;
    color: $bgColor;
    border-radius: 10px;
}

.hello_message:hover {
    color: $mColor;
    background-color: $bgColor;
    transition: 1s;
}

@media (max-width: 768px) {
    .nav_links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    .main_navigation.active .nav_links {
        display: flex;
    }

    .menu_toggle {
        display: inline-block;
    }

    .right_section {
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }
}

.nav_links a:hover {
    color: $mColor;
}

.main_navigation.active .nav_links {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}
