header {
    position: fixed;
    width: 100%;
    background-color: rgba(13, 18, 36, 0.60);
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#logo {
    font-size: 30px;
    font-weight: 600;
    color: $tColor;
}
#dot {
    font-size: 10px;
    margin: 2px;
    color:$mColor;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_bar ul {
    display: flex;
    gap: 20px;
}

.nav_bar ul.active {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
}

.nav_bar li {
    list-style: none;
}

.nav_bar a {
    text-decoration: none;
    color: $tColor;
    font-size: 20px;
    display: inline-block;
    position: relative;
    font-weight: 700;
    transition: color 0.3s ease;
}

#hello {
    padding: 5px 5px;
    background-color: $mColor;
    color: $bgColor;
    border-radius: 10px;
}
#hello:hover {
    color:$mColor;
    background-color: $bgColor;
    transition: 1s;
}

#hamburger {
    display: none;
}

.nav_bar a:hover {
    color: $mColor;
}
