@media (max-width: 992px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .nav_bar ul.active {
        display: flex;
    }
    .nav_bar {
        width: 100%;
        display: inline-block;
    }
    .nav_bar ul {
        justify-content: space-between;
    }
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 120px 20px 50px; 
    }
    #hero_text {
        padding-right: 0;
    }
    .hero img {
        width: 60%;
        margin: 20px auto;
    }
}
/* Mobile Devices */
@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .nav_bar ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }
    #hamburger {
        display: block; 
        cursor: pointer;
        font-size: 30px;
        color: $tColor;
    }
    .nav_bar.active ul {
        display: flex; 
    }
    
    #logo {
        flex: 1; 
    }
    #hamburge {
        margin-left: auto; 
    }
    .footer-container {
        flex-direction: column; 
        align-items: center; 
    }
    .footer-about,
    .footer-links,
    .footer-contact,
    .footer-social {
        text-align: center; 
        margin: 10px 0; 
    }
    .footer-social {
        justify-content: center; 
        flex-wrap: wrap; 
    }
    .footer-social a {
        margin: 5px;
    }
}
/* Small Mobile Devices */
@media (max-width: 480px) {
    .hero img {
        width: 80%;
        margin: 20px auto;
    }
    #hero_text h1 {
        font-size: 22px;
    }
    #name {
        font-size: 30px;
    }
    #input {
        font-size: 30px;
    }
}