// Colors 

$mColor: #16F2B3;
$sColor: #EC4899;
$bgColor: #0D1224;
$tColor: #fff;

// Font 
$mFont : "Poppins", system-ui;

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
span {
    font-weight: 700;
}
body {
    font-family: $mFont ;
    background: $bgColor;
    color: $tColor;
    position: relative;
    text-align: center;
}
section{
    margin: 0 10px;
}
html {
    scroll-behavior: smooth;
}
#backToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    padding: 5px ;
    background-color: $sColor;
    &:hover{
        background-color: $mColor;
    }
}

::selection {
    background-color: $mColor; 
    color: $bgColor; 
}

