*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

// Colors 

$mColor: #16F2B3;
$sColor: #EC4899;
$bgColor: #0D1224;
$tColor: #fff;

// Font 
$mFont : "Poppins", system-ui;

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
span {
    font-weight: 700;
}
body {
    font-family: $mFont ;
    background: $bgColor;
    color: $tColor;
    position: relative;
    text-align: center;
}
section{
    margin: 0 10px;
}
html {
    scroll-behavior: smooth;
}
// Back to Top Button Style 
#backToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: $sColor;
    display: none;
    transition: 0.5s;
    overflow: hidden;
}

#backToTop::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, transparent, white, transparent);
    transition: 1s;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        top: 100%;
        left: -100%;
    }
    100% {
        top: -100%;
        left: 100%;
    }
}

#backToTop:hover {
    background-color: $mColor;
}

::selection {
    background-color: $mColor; 
    color: $bgColor; 
}

